<app-doctools-navbar></app-doctools-navbar>

<div class="card-container">
  <mat-card class="clickable-card" (click)="navigateToDigitalSign()">
    <mat-card-header>
      <div mat-card-avatar class="card-icon">
        <img
          src="../../../assets/digisign.png"
          alt="digisign Icon"
          class="card-image"
        />
      </div>
      <mat-card-title>Digital Document Signing</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Securely sign your PDF documents to ensure document integrity and
        security
      </p>
    </mat-card-content>
  </mat-card>
</div>

<app-footer></app-footer>
