<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a routerLink="" class="navbar-brand nav-custom">
      <img
        class="animate__animated animate__bounceIn"
        src="../../../assets/logo.svg"
        height="40"
        alt="SafeWebGuard"
      />
      <!--<span class="animate__animated animate__bounceIn">Safe Browsing</span>-->
    </a>
    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      style="background: rgb(226, 229, 233)"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="nav navbar-nav mx-auto">
        <!-- <a
          routerLink=""
          routerLinkActive="active"
          class="nav-item nav-link px-3 active"
          >Home</a
        > -->
      </div>
      <div class="nav-custom">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="https://www.safewebguard.in/" class="nav-item nav-link"
              ><i class="bi bi-person-circle custom-icon"></i> Switch to Url
              Checker</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
